

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <!--<a class="navbar-brand" href="">LOVE MAP</a>-->
			<a class="navbar-brand" rel="home" href="#" title="Love around the world">
				<img src="/images/logo.png" width="60" height="60">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="#" data-toggle="modal" data-target="#modalOptions">Home</a></li>
			  </ul>
			</li>		  
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav><!-- /.NAVBAR -->



    <div id="map-canvas"></div>



	<div id="tweetFrame" class="tweetFrame front">
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
		  <div class="modal-header center">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="ModalLabel">OPTIONS</h4>
		  </div>
		  <div class="modal-body">
			Autopan: <input type="checkbox" id="cbAutopan" name="cbAutopan" value="unit-in-group" /><br/>
			Earth view: <input type="checkbox" id="cbEarth" name="cbEarth" value="unit-in-group" /><br/>
			Only pics: <input type="checkbox" id="cbOnlypics" disabled="disabled"  name="cbOnlypics" value="unit-in-group" /> (Soon...)<br/>
		  </div>
		 <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div><!-- /.Modal -->
