<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Tweet MAP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1568069986768203";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<%- body %>

	<!-- JS -->
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="/javascripts/infobox.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
	<script src="/javascripts/js.js"></script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


	<!-- moustache templates -->
	<script id="tweet-template" type="text/html">
		<div class="tweetDeck">
			<div class="tweetHeader">
				<img class="tweetAvatar" src="{{avatar}}" alt="avatar">
				<span class="tweetName">{{name}}</span>
        <span class="tweetLocation glyphicon glyphicon-screenshot" aria-hidden="true"></span><br/>
				<span class="tweetNickname"><a href="http://www.twitter.com/{{screenName}}" target="_blank">@{{screenName}}</a></span>
			</div>
			<div class="tweetBody">
				{{{body}}}
			</div>
			{{#picUrl}}
				<a href="{{picLink}}" target="_blank"><img src="{{picUrl}}" alt=""></a>
			{{/picUrl}}
		</div>
	</script>
	<script id="infowindow-template" type="text/html">
		<div class="infobox-wrapper">
			<div id="infobox">
				<div class="tweetHeader">
					<img class="tweetAvatar" src="{{avatar}}" alt="avatar">
					<span class="tweetName">{{name}}</span><br/>
					<span class="tweetNickname"><a href="http://www.twitter.com/{{screenName}}" target="_blank">@{{screenName}}</a></span>
				</div>
				<div class="tweetBody">
					{{{body}}}
				</div>
				{{#picUrl}}
					<a href="{{picLink}}" target="_blank"><img class="infowindowImg" src="{{picUrl}}" alt=""></a>
				{{/picUrl}}
			</div>
		</div>
	</script>
	<!-- end moustache templates -->
  </body>
</html>
